{% extends 'base.jinja2' %}

{% block page_id %}salt-level-hardware-housing{% endblock %}
{% block body_class %}salt-level{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Water Softener Tracker</h1>
        <h2>Hardware Housing</h2>
        <h4>Tools</h4>
        <div class="tools">
            <ul>
                <li><a href="https://www.autodesk.com/products/fusion-360/overview/" target="_blank" rel="noopener noreferrer">Fusion 360</a></li>
            </ul>
        </div>

        <p>
            I wanted to build some sort of housing for the
            {{ macros.link_to('salt_level/data_collection.html', 'data collection module') }} in order
            to mount it to the interior of the water softener salt talk as well as provide is a little
            bit of protection from any possible splashes from the water when it's being cycled. This
            would also be my first experience with 3D modeling, which was exciting. My plan was to
            design something and somehow get it 3D printed.
        </p>
        <h4>Sensor Housing</h4>
        <p>
            I started with the housings for the distance sensor units since they seem a bit simpler
            than the Arduino housing. This housing had the following requirements:
        </p>
        <div class="requirements">
            <ul>
                <li>Securely fit a SainSmart HC-SR04 Distance Sensor</li>
                <li>Provide access for a 4 pin Dupont wire</li>
                <li>Somehow mount to the underside of the water softener tank</li>
            </ul>
        </div>
        <p>
            The first thing I did was model the sensor itself, so I could build a housing around it.
            This is what I ended up with.
        </p>
        {{ macros.captioned_image("salt_level/sensor_render.png", "Sensor Rendering", class="large") }}
        <p>
            The black volume that's extending from the image on the left is meant to be the Dupont wire
            that I'll be using to hook each sensor up to the central Arduino.
        </p>
        <p>
            The renderings below show what I ended up with for the housing.
        </p>
        {{ macros.captioned_image("salt_level/housing_front.png", "Housing Front Rendering", class="large", lb_group="housing") }}
        {{ macros.captioned_image("salt_level/housing_back.png", "Housing Back Rendering", class="large", lb_group="housing") }}
        <p>
            On the front rendering, you can see where the Dupont connection is meant to be connected through.
            On the bottom renderings, the hole in the center face is meant to be a mounting point for a bolt.
            This bolt will attach the housing directly to the lid of the water softener tank and point the
            sensor face directly downwards at the salt itself. The tab with the hole is meant to keep the two
            pieces together.
        </p>
        {{ macros.captioned_image("salt_level/split_v1.png", "Housing Top and Bottom", class="large") }}
        <p>
            The renderings above show the internals of the top and bottom halves of the housing. The left
            rendering shows two tabs that are meant to be latched onto by the other piece. This, in
            conjunction with the bolt on the tab should keep the two pieces together and in place.
            The small ledges on the sides of the left rendering are meant to support the sensor board itself
            to ensure the proper sitting within the housing.
        </p>
        {{ macros.captioned_image("salt_level/enclosed.png", "Sensor Fitting", class="large") }}
        <p>
            The rendering above how the board is meant to sit within the housing if everything goes as it should.
            Fortunately, I have a friend with both a 3D printer and modeling experience who was able to take a
            quick look over the designs to make sure they're reasonable and print them for me. Thanks Jake!
        </p>

        <h4>Minor iteration: internal connection sizing</h4>
        <p>
            After a initial print of the design, we found that the the internal latch connections needed more
            tolerance in order to fit together. I made the following changes to the smaller of the two pieces
            to allow more space between the pieces as well as an easier connection.
        </p>
        {{ macros.captioned_image("salt_level/connection_changes.png", "Sizing Iteration", class="large") }}

        {{ macros.in_progress() }}
        {{ macros.still_interested("about/index.html", "page about this website") }}

    </div>
{% endblock %}
