{% extends 'base.jinja2' %}

{% block page_id %}hardware-housing{% endblock %}
{% block body_class %}hardware-housing{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Water Softener Tracker</h1>
        <h2>Hardware Housing</h2>
        <h4>Tools</h4>
        <div class="tools">
            <ul>
                <li><a href="https://www.autodesk.com/products/fusion-360/overview/" target="_blank" rel="noopener noreferrer">Fusion 360</a></li>
            </ul>
        </div>

        <p>
            I wanted to build some sort of housing for the
            {{ macros.link_to('salt_level/data_collection.html', 'data collection module') }} in order
            to mount it to the interior of the water softener salt talk as well as provide is a little
            bit of protection from any possible splashes from the water when it's being cycled. This
            would also be my first experience with 3D modeling, which was exciting. My plan was to
            design something and somehow get it 3D printed.
        </p>
        <h4>Sensor Housing</h4>
        <p>
            I started with the housings for the distance sensor units since they seem a bit simpler
            than the Arduino housing. This housing had the following requirements:
        </p>
        <div class="requirements">
            <ul>
                <li>Securely fit a SainSmart HC-SR04 Distance Sensor</li>
                <li>Provide access for a 4 pin DuPont wire</li>
                <li>Somehow mount to the underside of the water softener tank</li>
            </ul>
        </div>
        <p>
            The first thing I did was model the sensor itself, so I could build a housing around it.
            This is what I ended up with.
        </p>
        {{ macros.captioned_image("salt_level/sensor_render.png", "Sensor Rendering", None, "large") }}
        <p>
            The black volume that's extending from the image on the left is meant to be the DuPont wire
            that I'll be using to hook each sensor up to the central Arduino.
        </p>
        <p>
            The renderings below show what I ended up with for the housing. I have no idea what I'm doing :)
        </p>
        {{ macros.captioned_image("salt_level/housing_front.png", "Housing Front Rendering", None, "large") }}
        {{ macros.captioned_image("salt_level/housing_back.png", "Housing Back Rendering", None, "large") }}
        <p>
            On the front rendering, you can see where the DuPont connection sticks out a little bit. On the
            bottom renders, the hole in the center face is meant to be a mounting point for a bolt. The tab
            with the hole is meant to keep the two pieces together
        </p>

        <h4>This page is still in progress... come back later and there might be more here!</h4>

        <p class="still-interested">
            <strong>
                Still interested? Go back to the
                {{ macros.link_to("about/index.html", "page about this website")}}
                and check out how other things work!
            </strong>
        </p>
    </div>
{% endblock %}
