{% extends 'base.jinja2' %}

{% block page_id %}salt-level{% endblock %}
{% block body_class %}salt-level{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Tracking my Water Softener</h1>
        <p>
            I have a water softener that I have to fill with salt regularly. It has a big
            tank of salt so I have to fill once every few months. Due to the position of the
            tank relative to the building structure, it's pretty inconvenient to go out and
            check the level of the salt to see if it needs to be filled.
        </p>
        <p>
            My plan is to make an automatic salt level checker that will check the level of
            the salt and write it to a DynamoDB table. On write, I will have a Lambda function
            get triggered and check the salt level in the record. If it is below a certain
            threshold, I will send myself a notification so I can make sure to buy salt and
            refill it. I'm also planning on having a Lambda function regularly check the
            table to ensure that it's being updated in case something goes wrong with my
            level checking device.
        </p>
        <p>
            Once I start collecting data, this page is meant to have some useful visualizations
            of the data. I'd like to be able to track the rate of salt consumption over time which
            could give me insight into how I can tweak the water softener parameters.
        </p>
        <p>
            As I build the system, I'll be adding pages about the things I've built. Stay tuned!
        </p>
    </div>
    <div id="salt-level-container"></div>
{% endblock %}

{% block include_js %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        window.aseaman.ready(function(exports) {
            exports.initSaltLevel('salt-level-container');
        });
    </script>
{% endblock %}
