{% extends 'base.jinja2' %}

{% block page_id %}salt-level-index{% endblock %}
{% block body_class %}salt-level{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Water Softener Salt Tracker</h1>
        <p>
            I have a water softener that I have to fill with salt regularly. It has a big
            tank of salt so I have to fill once every few months. Due to the position of the
            tank relative to the building structure, it's pretty inconvenient to go out and
            check the level of the salt to see if it needs to be filled.
        </p>
        <p>
            I've made an automatic salt level checker that checks the level of the salt and
            stores it in a DynamoDB table. When it gets written, a Lambda function is
            triggered and checks the salt level in the record. If it is below a certain
            threshold, it sends me a notification so I can make sure to buy salt and
            refill it. I also have a Lambda function that runs every few days to check the
            table to ensure that it's being updated in case something goes wrong with my
            level checking device.
        </p>
        <div class="list">
            <div class="list-header">Here's what I have so far:</div>
            <ul>
                <li>
                    {{ macros.link_to('salt_level/architecture.html', 'System architecture') }}
                </li>
                <li>
                    {{ macros.link_to('salt_level/data_collection.html', 'Data collection') }}
                </li>
                <li>
                    {{ macros.link_to('salt_level/sensor_housing.html', 'Sensor housing') }}
                </li>
                <li>
                    {{ macros.link_to('salt_level/main_housing.html', 'Arduino housing') }}
                </li>
                <li>
                    More coming soon!
                </li>
            </ul>
        </div>

        <p>
            The visualization here is a work in progress. It's rendered with HTML Canvas and
            you can check out the source {{ macros.external_link("https://github.com/andrewseaman35/aseaman/blob/master/website/js/src/components/salt_level/visualizations/LineChart.js", "here") }}.
        </p>
    </div>
    <div id="salt-level-container"></div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initSaltLevel('salt-level-container');
        });
    </script>
{% endblock %}
