{% extends 'base.jinja2' %}

{% block page_id %}salt-level-sensor-housing{% endblock %}
{% block body_class %}salt-level{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Water Softener Tracker</h1>
        <h2>Sensor Housing</h2>
        <h4>Tools</h4>
        <div class="tools">
            <ul>
                <li>
                    {{ macros.external_link("https://www.autodesk.com/products/fusion-360/overview/", "Fusion 360") }}
                </li>
            </ul>
        </div>

        <p>
            I wanted to build some sort of housing for the
            {{ macros.link_to('salt_level/data_collection', 'data collection module') }} in order
            to mount it to the interior of the water softener salt talk as well as provide is a little
            bit of protection from any possible splashes from the water when it's being cycled. This
            would also be my first experience with 3D modeling, which was exciting. My plan was to
            design something and somehow get it 3D printed.
        </p>

        <p>
            I started with the housings for the distance sensor units since they seem a bit simpler
            than the Arduino housing. The housings here are the second iteration of the housing.
            You can see the write-up of the Arduino housing
            {{ macros.link_to("salt_level/main_housing", "here") }}.
            This housing had the following requirements:
        </p>
        <div class="requirements">
            <ul>
                <li>Securely fit a HC-SR04 Ultrasonic Distance Sensor</li>
                <li>Provide access for a 4 pin Dupont wire</li>
                <li>Somehow mount to the underside of the water softener tank</li>
            </ul>
        </div>
        <p>
            The renderings below show what I ended up with for the housing.
        </p>
        {{ macros.captioned_image("salt_level/sensor_housing/v2/top.png", "Housing Rendering", class="large", lb_group="housing") }}
        <p>
            The opening on the bottom of the front face is meant for the Dupont connection to connect the sensor
            to the main unit. The fins on the side are to mount the unit to the inside of the tank. The lid slides
            in the dovetail to cover the sensor, and the two nubs towards the end lock into place when the lid is
            closed all the way to keep it from opening up.
        </p>
        <p>
            Each of the sensor housings are numbered, which corresponds to the sensor number. The small triangle is
            meant to indicate which side of the connection is ground.
        </p>
        {{ macros.captioned_image("salt_level/sensor_housing/v2/bottom.png", "Housing Bottom", class="large") }}
        {{ macros.captioned_image("salt_level/sensor_housing/v2/empty_bottom.png", "Empty Housing Bottom", class="large") }}
        <p>
            The renderings above show the internals of the top half of the housing. The sensor rests on raised
            ledges in the corners to keep it stable. Two of the ledges have holes in them so the sensor can be
            mounted with small screws.
        </p>

        <h4>The Result</h4>
        <p>
            This is what the printed pieces look like!
        </p>
        {{ macros.captioned_image("salt_level/sensor_housing/v2/top.jpg", "Top") }}
        {{ macros.captioned_image("salt_level/sensor_housing/v2/bottom.jpg", "Bottom") }}
        {{ macros.captioned_image("salt_level/sensor_housing/v2/pieces.jpg", "Individual pieces") }}
        <p>
            I'm much happier with this iteration than the previous iteration. The snap fit lid works quite nicely
            and is much easier than having to close the housing with bolts. I had a lot of mounting issues with
            the first version which are fixed by using the fins to mount. The form factor is a bit more slim
            and doesn't waste as much space, and having the numbering and ground symbol on the case itself looks
            a lot cleaner than the sharpie that I drew on the previous ones.
        </p>
        <p>
            If you're curious, there are pictures of the previous version below.
        </p>

        <h4>Previous Version</h4>
        <div class="multi-image-container-outer">
            <div class="multi-image-container">
                <div class="arrow-icon previous"></div>
                {{ macros.captioned_image('salt_level/sensor_housing/housing_front.png', 'Front rendering', lb_group='previous_version') }}
                {{ macros.captioned_image('salt_level/sensor_housing/split_v1.png', 'Housing internals', lb_group='previous_version') }}
                {{ macros.captioned_image('salt_level/sensor_housing/printed_final.jpg', 'Printed pieces', lb_group='previous_version') }}
                {{ macros.captioned_image('salt_level/sensor_housing/printed_inside.jpg', 'Printed pieces, internals', lb_group='previous_version') }}
                <div class="arrow-icon next"></div>
            </div>
        </div>

        {{ macros.still_interested("salt_level/index", "Water Softener Salt Tracker") }}

    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initMultiImageContainers();
        });
    </script>
{% endblock %}
