{% extends 'base.jinja2' %}

{% block page_id %}project-car-frame-fit{% endblock %}
{% block body_class %}project-car{% endblock %}

{% block content %}
<div class="inner">
    <div>
        <div class="project-header">
            <h1>Project Car</h1>
            <h2>Project: Test fitting the soft top frame</h2>
        </div>
        <p>
            The previous owners of my car had removed the convertible soft top completely
            and replaced it with an ugly hard top. I think they also wrapped the interior
            side panels to match the vinyl interior and removed the side interior trim
            panels.
        </p>
        <p>
            Instead of either having the hard top or no top, I want to covert it to a soft
            top since it not only seems much more practical, but also looks much better.
            I managed to find a soft top convertible frame on Craigslist that I'll be using.
            Before doing anything with the frame, I wanted to make sure that it fit. This
            is what I had to do to test fit it.
        </p>
        <p>
            The existing hard top reused the mounting bracket for the soft top frame. It seems
            like they simply bolted the mounting bracket to an L-bracket that they screwed
            straight into the hard top.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/hardtop_on.jpg", "Insde with the hard top on")}}
        {{ macros.captioned_image("project_car/convertible_top/existing_mount.jpg", "Existing soft top mounting bracket")}}
        <p>
            The reused mounting bracket bolts directly into the body of the car. I first removed
            the wrapped interior side panel to get an idea of what was going on behind it.
        </p>
        <p>
            I first removed the mounting bracket that was bolted through the lining and into the
            body of the car.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/mount_removed.jpg", "Existing mounting bracket removed")}}
        <p>
            Once the bracket was off, I was able to pull out all of the lined interior side panels. I'm
            happy I did because I found some light surface rust on the newly exposed body panel. I gave
            it a quick sanding and a coat of rust reformer and continued on.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/custom_lining.jpg", "Interior panel")}}
        {{ macros.captioned_image("project_car/convertible_top/lining_removed.jpg", "Custom lining removed")}}
        <p>
            The lining will have to go back in along with the frame once I get it cleaned up. Since this
            was just a test fit, I wanted to make sure that nothing interfered with the frame, so I left
            everything out of the car for now.
        </p>
        <p>
            Now that everything was exposed, it was time to test fit the new frame. This was a
            two person job that required a lot of finagling (and one pinched finger) to get it
            to sit nicely.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/frame_installed.jpg", "It fits!")}}
        <p>
            Conveniently, the hard top can fit on the car when the frame is collapsed, meaning
            that I could leave it mounted until I have some time to go back to it. The next step
            is to clean it up (there's some light surface rust), replace the rubber parts on it,
            and install it once more. Once it's installed after being prepped, I can install
            the soft top itself!
        </p>

        {{ macros.still_interested("project_car/index.html", "Project Car page") }}

    </div>
</div>
{% endblock %}
