{% extends 'base.jinja2' %}

{% block page_id %}project-car-index{% endblock %}
{% block body_class %}project-car{% endblock %}

{% block content %}
<div class="inner">
    <div>
        <h1>
            Project Car
        </h1>
        <p>
            I have a 1972 Fiat 124 Sport Spider that I've been fixing up with the goal of
            learning how to work on cars. My plan is to update this space with some
            of the projects and work that I've performed and things I've learned.
        </p>
        <p>
            <strong>Disclaimer</strong>: I am learning and working through these projects with no background
            or training in automotive work. These write-ups are meant to be an account of
            my experiences and learnings as opposed to informative guides of how to do these
            things.
        </p>
        <div class="list">
            <div class="list-header">Projects</div>
            <ul>
                <li>
                    {{ macros.link_to('project_car/cooling_system.html', 'Cooling system replacement') }}
                </li>
                <li>
                    {{ macros.link_to('project_car/test_thermo.html', 'Testing the thermostat') }}
                </li>
                <li>
                    {{ macros.link_to('project_car/convertible_frame_fit.html', 'Test fitting the soft top frame') }}
                </li>
                <li>
                    {{ macros.link_to('project_car/timing_belt.html', 'Replacing the timing belt') }}
                </li>
                <li>
                    {{ macros.link_to('project_car/fuel_delivery_issue.html', 'Diagnosing a fuel delivery issue') }}
                </li>
                <li>
                    {{ macros.link_to('project_car/oil_change.html', 'Changing the oil') }}
                </li>
                <li>
                    More coming soon!
                </li>
            </ul>
        </div>
        <div class="img-container">
            <img src="{{ macros.image_url('project_car/fiat-front.jpg') }}" />
        </div>
    </div>
</div>
{% endblock %}
