{% extends 'base.jinja2' %}

{% block page_id %}project-car{% endblock %}
{% block body_class %}project-car{% endblock %}

{% block content %}
<div class="inner">
    <div>
        <div class="project-header">
            <h1>Project Car</h1>
            <h2>Project: Test fitting the soft top frame</h2>
        </div>
        <p>
            The previous owners of my car had removed the convertible soft top completely
            and replaced it with an ugly hard top. They also installed a custom interior
            lining in the back seat to cover the interior panels. Despite the hard top
            being quite ugly, they were sensible enough to make it easy to remove.
        </p>
        <p>
            Instead of either having the hard top or no top, I want to convert it to a soft
            top since it not only seems much more practical, but also looks much better.
            I managed to find a soft top convertible frame on Craigslist that I'll be using.
            Before doing anything with the frame, I wanted to make sure that it fit. This
            is what I had to do to test fit it.
        </p>
        <p>
            The existing hard top reused the mounting bracket for the soft top frame. It seems
            like they simply bolted the mounting bracket to an L-bracket that they screwed
            straight into the hard top.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/hardtop_on.jpg", "Insde with the hard top on")}}
        {{ macros.captioned_image("project_car/convertible_top/existing_mount.jpg", "Existing soft top mounting bracket")}}
        <p>
            The reused mounting bracket bolts directly into the body of the car. In this case,
            the lining directly behind the mounting bracket is all custom and would interfere
            with a soft top frame if installed. I had to rip all of this out for the test fit.
        </p>
        <p>
            I first removed the mounting bracket that was bolted through the lining and into the
            body of the car.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/mount_removed.jpg", "Existing mounting bracket removed")}}
        <p>
            Once the bracket was off, I was able to pull out all of the custom lining.
        </p>
        <p>
            The custom lining was actually made pretty well. It's a sheet of vinyl covering a
            piece of molded plastic. I'm keeping the pieces in case I can reuse some of it
            elsewhere.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/custom_lining.jpg", "Custom lining")}}
        <p>

        </p>
        {{ macros.captioned_image("project_car/convertible_top/lining_removed.jpg", "Custom lining removed")}}
        <p>
            I found that the previous owners had also tried to keep moisture out of the body panels by taping them up with a sheet of plastic. Unfortunately, this didn't seem
            to work well because there some very mild surface rust on the inside of the
            passenger side panel. I made note of this and will be cleaning it up later.
        </p>
        <p>
            Now that everything was exposed, it was time to test fit the new frame. This was a
            two person job that required a lot of finagling (and one pinched finger) to get it
            to sit nicely.
        </p>
        {{ macros.captioned_image("project_car/convertible_top/frame_installed.jpg", "It fits!")}}
        <p>
            Conveniently, the hard top can fit on the car when the frame is collapsed, meaning
            that I could leave it mounted until I have some time to go back to it. The next step
            is to clean it up (there's some light surface rust), replace the rubber parts on it,
            and install it once more. Once it's installed after being prepped, I can install
            the soft top itself!
        </p>


        <p class="still-interested">
            <strong>
                Still interested? Go back to the
                {{ macros.link_to("project_car/index.html", "Project Car") }}
                page and check out something else I've done!
            </strong>
        </p>
    </div>
</div>
{% endblock %}
