{% extends 'base.jinja2' %}

{% block page_id %}project-car-starter-motor{% endblock %}
{% block body_class %}project-car{% endblock %}

{% block content %}
<div class="inner">
    <div>
        <div class="project-header">
            <h1>Project Car</h1>
            <h2>Project: Starter Motor Replacement</h2>
        </div>
        <p>
            This ended up being pretty annoying to have to change.
        </p>
        <div class="list">
            <div class="list-header">Tools</div>
            <ul>
                <li>Front brake calipers</li>
                <li>Front brake rotors</li>
                <li>Front brake caliper yoke</li>
                <li>Front brake hoses</li>
                <li>Caliper o-rings</li>
            </ul>
        </div>
        <p>
            The starter motor is located
        </p>
        {{ macros.captioned_image("project_car/cooling_system/petcock_location.jpg", "Petcock location") }}

        {{ macros.still_interested("project_car/index", "Project Car page")}}

    </div>
</div>
{% endblock %}
