attrs
awscli
black
boto3
botocore
cfgv
click
colorama
distlib
docutils
filelock
identify
iniconfig
Jinja2
jmespath
MarkupSafe
mypy-extensions
nodeenv
packaging
pathspec
platformdirs
pluggy
pre-commit
py
pyasn1
pyparsing
python-dateutil
PyYAML
rsa
s3transfer
six
toml
tomli
typing_extensions
urllib3
virtualenv
