boto3
botocore
Click
docutils
Flask
Flask-Cors
itsdangerous
Jinja2
jmespath
MarkupSafe
python-dateutil
s3transfer
six
urllib3
Werkzeug
python-jose
qrcode


opencv-contrib-python-headless
opencv-python-headless
