{% extends 'base.jinja2' %}

{% block page_id %}mame-build{% endblock %}
{% block body_class %}mame{% endblock %}

{% block content %}
<div class="inner">
    <div>
        <div class="project-header">
            <h1>MAME</h1>
            <h2>Building the cabinet</h2>
        </div>
        <p>
            This page contains the build process of my MAME cabinet. My main reference was Project MAME build
            at {{ macros.external_link('http://koenigs.dk/mame/eng/stepprojectmame.htm', 'koenigs.dk') }}.
            The majority of this build was based on his process and plans. I modified the plans slightly to
            better work with my monitor and control panel.
        </p>
        <p>
            I built the cabinet out of 3/4" MDF, of which I required two 4' x 8' sheets. I had to have Home
            Depot cut both sheets lengthwise in order to fit them in my car. I got home with four 2' x 8' half sheets.
        </p>
        <p>
            Using the plans from {{ macros.external_link('http://koenigs.dk/mame/eng/stepprojectmame.htm', 'koenigs.dk') }}
            as a starting point, I first sketched out the side panel on one the 2' x 8' sheets.
        </p>
        {{ macros.captioned_image('mame/build/outline_side_1.jpg', 'Side panel outline', lb_group='outline_side') }}
        {{ macros.captioned_image('mame/build/outline_side_2.jpg', 'Top of side panel outline', lb_group='outline_side') }}
        <p>
            Once satisfied, I clamped on a second sheet and took a jigsaw to them to get both of my side panels.
        </p>
        {{ macros.captioned_image('mame/build/cut_side.jpg', 'Cut side panel') }}
        <p>
            Once again using the koenigs build as starting point, I sketched how the interior panels would
            sit onto one of the side panels. These would be the panels that stretch in between the two side panels.
            There were a few unknowns at this point that mostly revolved around the fact that I had not yet decided
            how I wanted to mount the monitor and the exact layout of the control panel.
        <p>
        </p>
            I measured out the lengths of the required panels that would sit in between the two side panels.
            This used the majority of the remaining two MDF half sheets. For the control panel, I measured out a piece
            a bit larger than I knew I would need, since I could always trim it down afterwards. I had about 2'
            remaining which would be more than enough for mounting the monitor. The photo below shows some of these
            measured out panels somewhere behind the shadows. Once measured out, these were quick cuts with a
            table saw.
        </p>
        {{ macros.captioned_image('mame/build/board_lines.jpg', 'Measurements for interior panels') }}
        <p>
            With the interior panels cut, I moved on to adding the moulding to the side panels in order to
            attach the interior panels. Starting with the outlines of the interior panels and some 3/4" x 3/4" strips,
            I set up the moulding to hold the interior panels in. At this point, I did not yet add glue, since I wanted
            to first do a dry fit so I could work through the control panel and monitor placement.
        </p>
        {{ macros.captioned_image('mame/build/moulding_1.jpg', 'Side panel with moulding') }}
        <h4>The build (and this page) is still in progress... come back later and there might be more here!</h4>

        <p class="still-interested">
            <strong>
                Go back to the {{ macros.link_to('mame/index.html', 'MAME page') }}!
            </strong>
        </p>
    </div>
</div>
{% endblock %}

