{% extends 'base.jinja2' %}

{% block page_id %}mame-index{% endblock %}
{% block body_class %}mame{% endblock %}

{% block content %}
    <div class="inner">
        <h1>MAME</h1>
        <p>
            I'm in the process of building a MAME arcade cabinet and an AWS backed system
            to sync high scores. I'll be putting more content here about the project as
            I make progress.
        </p>

        <div class="list">
            <div class="list-header">Here's what I've done so far:</div>
            <ul>
                <li>
                    {{ macros.link_to('mame/build.html', 'Cabinet build') }}
                </li>
                <li>
                    {{ macros.link_to('mame/high_score.html', 'High scores') }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

