{% extends 'base.jinja2' %}

{% block page_id %}mame-index{% endblock %}
{% block body_class %}mame{% endblock %}

{% block content %}
    <div class="inner">
        <h1>MAME</h1>
        <p>
            I'm a big fan of arcade games and built a MAME arcade cabinet
            so I could play them home. I also put together an AWS-backed system
            that saves my high scores to the cloud and allows my friends and I
            to sync our high score files.
        </p>

        <div class="list">
            <div class="list-header">Check out the parts of the project:</div>
            <ul>
                <li>
                    {{ macros.link_to('mame/high_score', 'High scores') }}
                </li>
                <li>
                    {{ macros.link_to('mame/build', 'Cabinet build') }}
                </li>
                <li>
                    {{ macros.link_to('mame/prints', '3D Prints') }}
                </li>
            </ul>
        </div>
        {{ macros.captioned_image('mame/build/mame_final.jpg') }}
    </div>
{% endblock %}
