{% extends 'base.jinja2' %}

{% block page_id %}resume{% endblock %}
{% block body_class %}resume{% endblock %}

{% block content %}
<div class="inner">
    <h1>Resume</h1>
    <div class="resume-body">
        <div class="column left">
            <div class="entry-block">
                <h2>Experience</h2>
                <div class="experience-entry">
                    <h3>23andMe</h3>
                    <h4>Senior Software Engineer III</h4>
                    <div>October 2020 - present</div>
                    <div class="subentry">
                        <h4>Software Engineer II</h4>
                        <div>September 2017 - October 2020</div>
                    </div>
                </div>
                <div class="experience-entry">
                    <h3>Immersion Corporation</h3>
                    <h4>Software Developer II</h4>
                    <div>June 2017 - September 2017</div>
                    <div class="subentry">
                        <h4>Software Developer I</h4>
                        <div>July 2016 - June 2017</div>
                    </div>
                    <div class="subentry">
                        <h4>Software Engineering Intern</h4>
                        <div>September 2015 - July 2016</div>
                    </div>
                </div>
            </div>
            <div class="entry-block">
                <h2>Education</h2>
                <div class="entry">
                    <h3>Santa Clara University</h3>
                    <div>M.S. in Engineering Management and Leadership, 2017</div>
                </div>
                <div class="entry">
                    <h3>Seattle University</h3>
                    <div>B.S. in Electrical Engineering with a Computer Specialization, 2015</div>
                </div>
            </div>
            <div class="entry-block">
                <h2>Certifications</h2>
                <ul>
                    <li>
                        AWS Certified Developer
                        <div class="li-detail">Associate (May 2017 - March 2020)</div>
                    </li>
                    <li>
                        AWS Certified Architect
                        <div class="li-detail">Associate (April 2017 - March 2020)</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column right">
            <div class="entry-block">
                <h3>Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS/SCSS/SASS</li>
                    <li>SQL</li>
                    <li>Golang</li>
                    <li>C++/C</li>
                    <li>Java</li>
                    <li>TypeScript</li>
                    <li>Make</li>
                    <li>Bash</li>
                </ul>
            </div>
            <div class="entry-block">
                <h3>Technologies</h3>
                <ul>
                    <li>ReactJS</li>
                    <li>Django</li>
                    <li>D3.js</li>
                    <li>AWS</li>
                    <li>Flask</li>
                    <li>Redis</li>
                    <li>AJAX</li>
                    <li>Drone</li>
                    <li>Jenkins</li>
                    <li>Docker</li>
                    <li>Git</li>
                    <li>Terraform</li>
                    <li>VAST/VPAID</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="email">
        <strong>Want to chat? Email me at andrewseaman35@gmail.com</strong>
    </div>
</div>
{% endblock %}
