{% extends 'base.jinja2' %}

{% block page_id %}resume{% endblock %}
{% block body_class %}resume{% endblock %}

{% block content %}
<div class="inner">
    <h1>Résumé</h1>
    <div class="resume-body">
        <div class="column">
            <div class="entry-block">
                <h2>Experience</h2>
                <div class="experience-entry">
                    <h3>23andMe</h3>
                    <h4>Senior Software Engineer IV</h4>
                    <div>October 2021 - present</div>
                    <div class="subentry">
                        <h4>Senior Software Engineer III</h4>
                        <div>October 2020 - October 2021</div>
                    </div>
                    <div class="subentry">
                        <h4>Software Engineer</h4>
                        <div>September 2017 - October 2020</div>
                    </div>
                </div>
                <div class="experience-entry">
                    <h3>Immersion Corporation</h3>
                    <h4>Software Developer II</h4>
                    <div>June 2017 - September 2017</div>
                    <div class="subentry">
                        <h4>Software Developer I</h4>
                        <div>July 2016 - June 2017</div>
                    </div>
                    <div class="subentry">
                        <h4>Software Engineering Intern</h4>
                        <div>September 2015 - July 2016</div>
                    </div>
                </div>
            </div>
            <div class="entry-block">
                <h2>Patents</h2>
                <div class="entry">
                    <div class="patent-entry">
                        Methods and systems for determining and displaying pedigrees
                        <span class="patent-link">
                            ({{ macros.external_link("https://patents.google.com/patent/US11514627B2/", "view") }})
                        </span>
                    </div>
                </div>
                <div class="entry">
                    <div class="patent-entry">
                        Braking characteristic detection system for haptic
                        actuator
                        <span class="patent-link">
                            ({{ macros.external_link("https://patents.google.com/patent/US20180033262A1/", "view") }})
                        </span>
                    </div>
                </div>
            </div>
            <div class="entry-block">
                <h2>Education</h2>
                <div class="entry">
                    <h3>Santa Clara University</h3>
                    <div>M.S. in Engineering Management and Leadership, 2017</div>
                </div>
                <div class="entry">
                    <h3>Seattle University</h3>
                    <div>B.S. in Electrical Engineering with a Computer Specialization, 2015</div>
                </div>
            </div>
            <div class="entry-block">
                <h2>Certifications</h2>
                <ul>
                    <li>
                        AWS Certified Developer
                        <div class="li-detail">Associate (May 2017 - March 2020)</div>
                    </li>
                    <li>
                        AWS Certified Architect
                        <div class="li-detail">Associate (April 2017 - March 2020)</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="email">
        <strong>Want to chat? Email me at andrewseaman35@gmail.com</strong>
    </div>
</div>
{% endblock %}
