{% extends 'base.jinja2' %}

{% block page_id %}about{% endblock %}
{% block body_class %}about{% endblock %}

{% block content %}
    <div class="inner">
        <div class="left-content">
            <h3>
                What is this?
            </h3>
            <p>
                This website is an ongoing project on mine that I'm using as a way to mess around and learn new things. It doesn't really have any goals except for being a mechanism for me to mess with new technologies, put things that I've done, and (hopefully) create useful tools.
            </p>
            <p>
                We'll see how many of those things I get to. In the meantime, these
                are the pages I have about this project!
            </p>
            <div class="list">
                <ul>
                    <li>
                        {{ macros.link_to('about/pipeline.html', 'Development pipeline') }}
                    </li>
                    <li>
                        More coming soon!
                    </li>
                </ul>
            </div>

            {{ macros.link_to("index.html", "Go back home")}}
        </div>
    </div>
{% endblock %}
