{% extends 'base.jinja2' %}

{% block page_id %}acnh-compare{% endblock %}
{% block body_class %}acnh{% endblock %}

{% block content %}
    <div class="inner">
        <h1>
            Compare ACNH
        </h1>
        <p>
            Choose your favorite Animal Crossing: New Horizons villager and help us find
            the ultimate villager!
        </p>
        <div id="compare-acnh-container"></div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initCompareACNH('compare-acnh-container');
        });
    </script>
{% endblock %}
