{% extends 'base.jinja2' %}

{% block page_title %}Villager Showdown{% endblock %}
{% block page_id %}acnh-compare{% endblock %}
{% block body_class %}acnh{% endblock %}

{% block content %}
    <div class="inner">
        <div class="acnh-header">
            <h1>Animal Crossing: Villager Showdown</h1>
            <button class="view-leaderboard">
                {{ macros.link_to('acnh/rankings.html', "Leaderboard") }}
            </button>
        </div>

        <p>
            Choose your favorite Animal Crossing: New Horizons villager and help us find
            the ultimate villager!
        </p>
        <p>
            <strong>Pro tip:</strong> Use your left and right arrow keys!
        </p>
        <div id="compare-acnh-container"></div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initCompareACNH('compare-acnh-container');
        });
    </script>
{% endblock %}
