{% extends 'base.jinja2' %}

{% block page_id %}chess-index{% endblock %}
{% block body_class %}chess{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Chess</h1>
        <p>
            I've been building out a simple in-browser chess game in some of my free time.
        </p>
        <p>
            It currently supports local and online 2 player games. The online 2 player game
            is sort of awkward. It requires that one person starts the game, gets the game id,
            and sends it over to the other person, who uses it to load the game on their end.
            The player that creates the game plays as white.
        </p>
        <div id="chess-container">
            <div id="game-start-modal" class="modal">
                <div class="board-setup-container">
                    <h3>Board Setup
                        <button class="link-button" id="toggle-board-setup">show</button>
                    </h3>
                    <div class="board-setup-content">
                        <div class="board-setup-number">
                            <label for="board-ranks-input">Number of Ranks:</label>
                            <input
                                id="board-ranks-input"
                                name="board-ranks-input"
                                type="number"
                                min="4"
                                value="8"
                            />
                        </div>
                        <div class="board-setup-number">
                            <label for="board-ranks-input">Number of Files:</label>
                            <input
                                id="board-files-input"
                                name="board-files-input"
                                type="number"
                                min="8"
                                value="8"
                                disabled
                            />
                        </div>
                    </div>
                </div>
                <div class="remote-setup-container">
                    <h3>Remote Setup
                        <button class="link-button" id="toggle-remote-setup">show</button>
                    </h3>
                    <div class="remote-setup-content">
                        <div>
                            <p>
                                Curious what this section is about?
                            </p>
                            I have some info {{ macros.link_to('chess/remote_chess', 'here!') }}
                        </div>
                        <div class="server-status">
                            <h4>Server Status: <span class="toplevel-status"></span></h4>
                        </div>
                        <div class="octoprint-status">
                            <h4>OctoPrint Status
                                <span class="toplevel-status"></span>
                                <button class="link-button refresh-button" id="remote-refresh-octoprint">
                                    refresh
                                </button>
                            </h4>
                            <div class="status-container">
                                <div class="status-item">Initialized:
                                    <span class="initialized"></span>
                                    <button class="link-button" id="remote-initialize-octoprint">
                                        run initialization
                                    </button>
                                </div>
                                <div class="status-item">Version: <span class="version"></span></div>
                                <div class="status-item">Connection: <span class="connection"></span></div>
                                <div class="status-item">Job Status: <span class="job"></span></div>
                                <div class="status-item">Homed:
                                    <span class="homed"></span>
                                    <button class="link-button" id="remote-home-octoprint">
                                        run homing (REMOVE HAND FIRST)
                                    </button>
                                </div>
                                <div class="status-item">Hand:
                                    <span class="hand"></span>
                                    <button class="link-button" id="remote-hand-connected-octoprint">
                                        I've mounted the hand!
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="controller-status">
                            <h4>
                                Controller
                                <span class="toplevel-status"></span>
                                <button class="link-button" id="remote-refresh-controller">
                                    refresh
                                </button>
                            </h4>
                            <div class="status-container">
                                <div class="status-item">Initialized:
                                    <span class="initialized"></span>
                                    <button class="link-button" id="remote-initialize-controller">
                                        run initialization
                                    </button>
                                </div>
                                <div class="status-item">Serial: <span class="serial"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-setup-container">
                    <h3>Game Setup</h3>
                    <div class="load-container">
                        <h4>Load Game</h4>
                        <div>
                            <label for="load-game-id-input">Input existing game id:</label>
                            <input
                                id="load-game-id-input"
                                type="text"
                                placeholder="Game ID"
                                maxlength="6"
                            />
                        </div>
                        <p>OR</p>
                        <div class="load-game-id-select-container">
                            <label for="owned-game-ids">Log in to select from your games:</label>
                            <select name="owned-game-ids" id="owned-game-id-select" disabled>
                                <option value="default" selected>Loading...</option>
                            </select>
                        </div>
                        <button disabled id="load-game-button">Load game</button>
                        <div id="load-error" class="error-message"></div>
                    </div>
                    <div class="new-container">
                        <h4>New Game</h4>
                        <div class="game-mode-container">
                            <div>
                                <input type="radio" id="game-mode-local" name="game-mode" value="local" checked>
                                <label for="game-mode-local">Local 2P</label>
                            </div>
                            <div>
                                <input type="radio" id="game-mode-network" name="game-mode" value="network">
                                <label for="game-mode-local">Network 2P</label>
                            </div>
                            <div id="network-game-mode-container" class="logged-out">
                                <div class="network-config logged-in">
                                    <label for="load-game-id-input">Challenge user:</label>
                                    <input
                                        id="network-opponent"
                                        type="text"
                                        placeholder="username"
                                    />
                                </div>
                                <div class="network-config logged-out">
                                    Log in to challenge a specific user!
                                </div>
                            </div>
                        </div>
                        <button class="new-game-button">Start Game</button>
                    </div>
                </div>
            </div>
            <div id="board-outer-container">
                <div id="board-container"></div>
                <div id="actions-container"></div>
            </div>
            <div id="game-info-container">
                <div id="game-info-game-id">Game id: </div>
                <div id="game-info-opponent">Opponent: </div>
                <div id="game-info-game-mode">Mode: </div>
                <div id="game-info-playing-side">Playing as: </div>
                <div id="game-info-turn"></div>
                <div id="game-info-turn"></div>
                <div id="game-info-checks"></div>
                <div id="game-info-promotion-options">
                    <div class="promotion-option" data-piece="Q">
                        <img class="piece-image white" src="{{ macros.image_url('chess/pieces/q_white.svg') }}">
                        <img class="piece-image black" src="{{ macros.image_url('chess/pieces/q_black.svg') }}">
                    </div>
                    <div class="promotion-option" data-piece="R">
                        <img class="piece-image white" src="{{ macros.image_url('chess/pieces/r_white.svg') }}">
                        <img class="piece-image black" src="{{ macros.image_url('chess/pieces/r_black.svg') }}">
                    </div>
                    <div class="promotion-option" data-piece="N">
                        <img class="piece-image white" src="{{ macros.image_url('chess/pieces/n_white.svg') }}">
                        <img class="piece-image black" src="{{ macros.image_url('chess/pieces/n_black.svg') }}">
                    </div>
                    <div class="promotion-option" data-piece="B">
                        <img class="piece-image white" src="{{ macros.image_url('chess/pieces/b_white.svg') }}">
                        <img class="piece-image black" src="{{ macros.image_url('chess/pieces/b_black.svg') }}">
                    </div>
                </div>

                <h3 id="game-log-header">Log:</h3>
                <div id="game-log-container">
                    <div id="game-info-note"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initChess('chess-container');
        });
    </script>
{% endblock %}
