{% extends 'base.jinja2' %}

{% block page_id %}chess-index{% endblock %}
{% block body_class %}chess{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Chess</h1>
        <p>
            I've been building out a simple in-browser chess game in some of my free time.
            Currently, it supports two player play only but is limited to basic piece movements
            (so don't go trying an en passant).
        </p>
        <p>
            This is still very in progress! I'm still working on some of the foundation of how
            this thing will work. My eventual goal is to enable playing online with a friend!
        </p>
        <div id="chess-container">
            <div id="board-outer-container">
                <div id="board-container"></div>
                <div id="actions-container">
                    <button id="load-button">Load</button>
                    <button id="restart-button">Restart</button>
                    <button id="next-move-button">Next</button>
                </div>
            </div>
            <div id="game-info-container">
                <div id="game-info-turn"></div>
                <div id="game-info-checks"></div>

                <h3 id="game-log-header">Log:</h3>
                <div id="game-log-container">
                    <div id="game-info-note"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initChess('chess-container');
        });
    </script>
{% endblock %}
