.budget-content {
    display: flex;
    flex-direction: row;;
    padding-top: 12px;
}

.view-selector {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 0;
    border: 1px solid black;
    ;
    .view-option {
        border-radius: 6px;
        border: 1px black solid;
        padding: 8px 24px;
        margin-bottom: 12px;

        &.selected {
            background-color: $gray;
        }
    }
}

.view-summary {
    display: flex;
    flex-direction: column;;
    padding-left: 24px;
    padding-top: 12px;
}

.budget-date-selector {
    display: flex;
    flex-direction: column;
    ;
    .selector-group {
        button {
            margin: 0px 2px 12px;
        }
    }
}

button {
    &.selected {
        background-color: $gray;
    }
}
