button {
    cursor: pointer;

    &.button-icon {
        padding: 0;
        background: 0;
        border: 0;
        vertical-align: middle;

        &.whisky-action {
            padding-left: 8px;
        }

        &:hover {
            fill: #888888;
        }

        &:disabled {
            fill: #AAAAAA;
        }
    }
}
