input[type="submit"],
button {
    color: $blackish;
    cursor: pointer;
    padding: 8px 24px;
    background-color: $white;
    border-radius: 3px;
    font-family: monospace;
    border: 1px solid $blackish;

    &:hover {
        border: 1px solid white;
        color: white;
        background-color: #888888;
        fill: #888888;
    }

    &:disabled {
        fill: #AAAAAA;
        cursor: auto;
        color: $blackish;
        border: 1px solid $blackish;
        background-color: #AAAAAA;

        &:hover {
            color: $blackish;
            border: 1px solid $blackish;
            background-color: #AAAAAA;
            fill: #AAAAAA;
        }
    }

    &.button-icon {
        padding: 0;
        background: 0;
        border: 0;
        vertical-align: middle;

        &.whisky-action {
            padding-left: 8px;
        }

        &:hover {
            fill: #888888;
        }

        &:disabled {
            fill: #AAAAAA;
        }
    }
}

button.link-button {
    padding: 0;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: $link-color;

    &:hover {
        background-color: unset;
        color: $link-color-hover;
    }
}

.toggle {
    .toggle-button {
        $TOGGLE_BUTTON_HEIGHT: 40px;
        $TOGGLE_BORDER_RADIUS: calc(#{$TOGGLE_BUTTON_HEIGHT} / 2);
        width: 200px;
        height: $TOGGLE_BUTTON_HEIGHT;

        &.active {
            background-color: $dark-gray;
        }

        &.left {
            border-top-left-radius: $TOGGLE_BORDER_RADIUS;
            border-bottom-left-radius: $TOGGLE_BORDER_RADIUS;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            border-right: 0;

        }

        &.right {
            border-top-right-radius: $TOGGLE_BORDER_RADIUS;
            border-bottom-right-radius: $TOGGLE_BORDER_RADIUS;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
