$space-dark: #703C06;
$space-light: #CB9053;

#chess-container {
    display: flex;
}

#board-container {
    table {
        border-collapse: unset;
        border: 1px solid black;
        min-width: unset;
    }

    tr {
        &:hover {
            background-color: $white;
            cursor: auto;
        }
    }

    td {
        color: $gray;
        height: 50px;
        width: 50px;
        text-align: center;
        border: 1px solid black;
        padding: 4px;

        &.space {
            &.dark {
                background-color: $space-dark;
            }
            &.light {
                background-color: $space-light;
            }
            &:hover {
                background-color: #DDDDDD;
                cursor: pointer;
            }

            &.selected {
                background-color: #CCCCCC;
            }

            &.possible-move {
                background-color: red;
            }

            &.check-threat {
                background-color: orange;
            }
        }

        &.board-label {
            color: $blackish;
            &.empty {
                height: 20px;
                width: 20px;
            }
            &.rank {
                width: 20px;
            }
            &.file {
                height: 20px;
            }
        }
    }

    .piece-image {
        width: 40px;
        height: 40px;
    }
}

#game-info-container {
    border: 1px solid $blackish;
    margin-left: 20px;
    padding: 8px;
}
