$space-dark: #703C06;
$space-light: #CB9053;

#chess-container {
    display: flex;
}

#board-container {
    table {
        border-collapse: unset;
        border: 1px solid black;
        min-width: unset;
    }

    tr {
        &:hover {
            background-color: $white;
            cursor: auto;
        }
    }

    td {
        color: $gray;
        height: 64px;
        width: 64px;
        text-align: center;
        border: 1px solid black;
        padding: 0;

        &.space {
            &.dark {
                background-color: $space-dark;
            }
            &.light {
                background-color: $space-light;
            }
            &:hover {
                background-color: #DDDDDD;
                cursor: pointer;
            }

            &.selected {
                background-color: #CCCCCC;
            }

            &.possible-move {
                background-color: red;
            }

            &.possible-special-move {
                background-color: green;
            }

            &.check-threat {
                background-color: orange;
            }
        }

        &.board-label {
            color: $blackish;
            &.empty {
                height: 20px;
                width: 20px;
            }
            &.rank {
                width: 20px;
            }
            &.file {
                height: 20px;
            }
        }
    }

    .piece-image {
        width: 50px;
        height: 50px;
    }
}

#actions-container {
    padding: 12px;
    justify-content: space-evenly;

    #next-move-button {
        display: none;
    }
}

#game-start-modal {
    input {
        text-transform: uppercase;
    }

    #load-error {
        display: none;
    }

    .new-container p {
        text-align: center;
    }
}

#game-info-container {
    width: 200px;
    border: 1px solid $blackish;
    margin-left: 20px;
    padding: 8px;

    >div {
        padding: 8px 0;
    }

    #game-log-header {
        margin-bottom: 4px;
    }

    #game-log-container {
        height: 220px;
        overflow: scroll;
        border: 1px solid black;
        padding: 8px;
    }

    span.small-log {
        font-size: 12px;
        margin-left: 16px;
    }
}

#game-info-promotion-options {
    display: flex;
    justify-content: space-around;

    img {
        display: none;
        padding: 4px;

        &.white {
            background-color: $blackish;
        }

        &.black {
            border: 1px solid $blackish;
        }

        &:hover {
            cursor: pointer;

            &.white {
                background-color: $gray;
            }
            &.black {
                background-color: $gray;
            }
        }
    }
}
