#compare-acnh-container {
    @include screen-sm {
        padding-bottom: 100px;
    }
}

#acnh-villager-container {
    position: relative;
    padding: 0;

    h1 {
        margin-top: 40px;
    }
}

.acnh-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include screen-sm {
        flex-direction: column;
        margin-bottom: 16px;
    }

    button {
        max-height: 40px;
    }
}

.villager-rankings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 200px);
}

.villager-species-container {
    height: calc(100% - 200px);
    display: flex;
}

.villager-results-container {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: left;
    // height: calc(100% - 100px - 20px);

    @include screen-sm {
        flex-direction: column;
        align-items: center;
    }
}

.back-to-all-species {
    margin-bottom: 12px;
}

.view-compare,
.view-leaderboard {

    a {
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
    }
}

.rankings {
    max-width: 100%;
    overflow: scroll;

    @include screen-sm {
        th {
            min-width: unset;
        }
    }
}

.rankings table tr {
    cursor: pointer;
}

.leaders {
    a {
        color: black;
        text-decoration: none;
        padding: 12px;
        border-radius: 10px;

        &:hover {
            background-color: $light-gray;
        }
    }

    .leader-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .place-badge {
        border-radius: 100%;
        background-color: $after-bronze;
        position: absolute;
        text-align: center;
        font-weight: 700;
        border: 2px solid;
        font-family: cursive;

        width: 40px;
        height: 40px;
        line-height: 35px;
        font-size: 25px;
        margin-top: -10px;
        margin-left: 70px;

        &.place-1 {
            background-color: $gold;
            width: 80px;
            height: 80px;
            line-height: 75px;
            font-size: 55px;
            margin-top: -20px;
            margin-left: 200px;
            border: 5px solid;
        }

        &.place-2 {
            background-color: $silver;
        }
        &.place-3 {
            background-color: $bronze;
        }
    }

    .first-place {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .leader {
            .name {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    &.by-species {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .species-label-container {
            border-radius: 10px;
            padding: 4px 0;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $light-gray;
            }
        }
        .species-label {
            font-size: 20px;
            font-weight: 700;
            text-decoration: underline;
        }

        .view-species-label {
            font-size: 12px;
            text-decoration: none;
            font-weight: 400;
            margin-top: 4px;
        }

        .species-leader {
            padding: 12px 20px;
            border-radius: 10px;
            margin: 8px;
            @include screen-sm {
                padding: 12px 4px;
            }
        }

        a {
            margin: 0;
            padding: 0;
        }

        .leader {
            border-radius: 10px;
            padding: 12px;

            .name {
                font-weight: 700;
            }

            &:hover {
                background-color: $light-gray;
                cursor: pointer;
            }
        }

        img {
            max-width: 100px;
        }
    }

    .runners-up {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        a {
            margin: 30px;
            @include screen-sm {
                margin: 10px;
            }
        }

        .leader {
            .name {
                font-weight: 700;
            }
        }

        img {
            max-width: 100px;
        }
    }
}

.compare-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include screen-lg {
        padding: 24px;
    }
}

.compare-inner {
    max-width: 100%;
}

.villager,
.compare-card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    text-align: left;
    max-width: 50%;

    &.winner {
        background-color: $win-green;
    }

    &.loser {
        background-color: $lose-red;

    }

    @include screen-sm {
        &:first-child {
            margin-right: 8px;
        }
    }

    @include screen-lg {
        padding: 24px;
    }

    img {
        max-width: 256px;
        max-height: 256px;
        width: 100%;
        border-radius: 8px;
    }

    .detail-container {
        margin-top: 24px;
    }

    .name-and-record {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .record {
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
    }

    table {
        border-spacing: 0 4px;

        td {
            padding: 0;

            &.detail-value {
                padding-left: 8px;
                @include screen-sm {
                    padding-bottom: 4px;
                }
            }
        }
    }
}

.villager-compare {
    table {
        td {
            @include screen-sm {
                // Stack the tds for mobile
                display: block;
                clear:both;
            }
        }
    }
}

.villager-stats {
    max-width: 256px;

    @include screen-sm {
        max-width: unset;
    }
    .name {
        font-size: 24px;
    }

    .stats-table {
        margin-bottom: 24px;
    }

    table {
        min-width: unset;
    }
}

.compare-card {
    border: 1px solid $blackish;

    &:not(.winner):not(.loser) {
        &:hover {
            border: 1px solid $blackish;
            background-color: $light-gray;
            cursor: pointer;
            color: $blackish;
        }
    }
}

.table-container {
    height: calc(100% - 50px);
    overflow: scroll;
}

.pagination {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
        border: 0;
        padding: 0;
        color: $link-color;
        padding: 0 4px;
    }
}

.results {
    padding: 0px 24px;
    height: 100%;
    overflow: scroll;

    @include screen-sm {
        overflow: visible;
        padding-bottom: 40px;
    }
}

.results-table {
    min-width: unset;
    tr {
        cursor: pointer;
    }
}


.toggle {
    text-align: center;
    margin-bottom: 24px;
}
