a {
    text-decoration: none;
    color: $base-text-color;

    &:visited {
        color: $base-text-color;
    }
}

.nav-bar {
    @include screen-sm {
        width: 100%;
        justify-content: center;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: hidden;
    overflow: auto;
    z-index: $z-index-nav;
}

.nested-nav {
    display: none;
    position: absolute;
    margin-top: 0;
    padding-top: 20px;
    list-style: none;
    padding-left: 10px;
    background-color: white;
    padding: 8px 12px;

    border: 1px solid;
    border-top: 0;
    border-radius: 3px;

    &:hover {
        display: block;
    }
}

.nav-item {
    padding: 0 12px;
    @include screen-sm {
        padding: 4px 12px;
    }
    &:hover .nested-nav {
        display: block;
    }
}

.nav-item+.nav-item {
    border-left: 1px solid $base-text-color;
}

.nested-nav-item {
    padding-bottom: 6px;

    &:hover::before {
        content: ">";
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        left: 0;
    }
}

.container {
    flex-direction: row-reverse;
    justify-content: center;
}

#api-key-input {
    width: 50px;
}

#api-key-input,
#nav-api-key {
    @include screen-sm {
        display: none;
    }
    @include screen-med {
        display: none;
    }
}
