img {
    border-radius: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    margin: 36px 0 24px;

    img {
        max-width: 100%;
        align-self: center;

        @include screen-lg {
            max-width: 500px;
        }

        &.medium {
            max-width: 100%;

            @include screen-lg {
                max-width: 350px;
            }
        }

        &.large {
            @include screen-lg {
                max-width: 700px;
            }
        }

        &.bordered {
            border: $default-image-border;
        }
    }


    @include screen-lg {
        &.half {
            max-width: 50%;
            float: left;

            img {
                max-width: 95%;
                padding: 0 5%;
            }
        }
    }

    .img-caption {
        align-self: center;
        padding: 10px 0 4px;
        font-size: 14px;
        font-weight: 800;
    }
}

.image-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include screen-lg {
        flex-direction: row;
    }

    .img-container {
        width: fit-content;
    }
}

.multi-image-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include screen-lg-only {
        flex-direction: row;
    }
}

.multi-image-container {
    display: flex;
    align-items: center;

    .img-container {
        height: 400px;
        width: 500px;
        align-items: center;
        justify-content: center;

        &.hide {
            display: none;
        }
    }

    img {
        max-height: 400px;
        max-width: 500px;
        height: auto;
        width: auto;
    }

    .arrow-icon {
        background-color: $dark-gray;
        width: 48px;
        height: 48px;

        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-size: contain;
        -webkit-mask-size: contain;

        &.previous {
            -webkit-mask-image: url(/img/icons/left_arrow.svg);
            mask-image: url(/img/icons/left_arrow.svg);
        }
        &.next {
            -webkit-mask-image: url(/img/icons/right_arrow.svg);
            mask-image: url(/img/icons/right_arrow.svg);
        }

        &:hover {
            background-color: $blackish;
            cursor: pointer;
        }
    }
}
