img {
    border-radius: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    margin: 36px 0 24px;

    img {
        max-width: 100%;
        align-self: center;

        @include screen-lg {
            max-width: 500px;
        }

        &.medium {
            max-width: 100%;

            @include screen-lg {
                max-width: 350px;
            }
        }

        &.bordered {
            border: $default-image-border;
        }
    }

    .img-caption {
        align-self: center;
        padding: 10px 0 4px;
        font-size: 14px;
        font-weight: 800;
    }
}

.image-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include screen-lg {
        flex-direction: row;
    }

    .img-container {
        width: fit-content;
    }
}
