.left-content {
    justify-content: flex-start;
    padding-top: 48px;
}

.dev {
    margin-bottom: 24px;
}

.mame-container {
    display: flex;
    width: 100%;

    .loading-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;;
    }

    .highscore-list {
        flex-grow: 1;

        tbody {
            tr {
                color: $dark-gray;
            }
            tr.parsed {
                color: $blackish;
            }
            tr.selected {
                background-color: $light-gray;
            }
        }
    }

    .highscore-table {
        flex-grow: 3;

        &.no-scores {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
