.modal {
    background-color: white;
    border: black solid 1px;
    box-shadow: 5px 10px 10px #888888;

    position: fixed;
    padding: 20px;
    top: 80px;
    height: 100%;
    width: calc(100% - 40px);
    max-width: 100%;

    @include screen-med {
        padding: 32px 48px;
        top: 20%;
        max-width: 80%;
        width: auto;
        height: auto;
    }

    h3 {
        margin-top: 0;
    }
}
