#site-navigation {
    $navbar-z-index-desktop: 50;
    $navbar-z-index-mobile: 50;
    $navbar-height-desktop: 44px;
    $navbar-height-mobile: 32px;
    $navbar-hover-border: 1px black solid;
    $navbar-num-entries: 4;

    @keyframes fadeIn {
        0% {
            opacity: 0;;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 0;;
        }
        100% {
            opacity: 1;
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;;
        justify-content: space-between;
        padding: 6px 8px;

        &.mobile {
            height: $navbar-height-mobile;
            padding: 12px;
        }

        &.desktop {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .hamburger-container {
            // padding: 6px 8px;
        }
    }

    .navbar-entries {
        display: grid;
        grid-template-columns: repeat($navbar-num-entries, min-content);
        column-gap: 8px;
        max-width: 800px;
        justify-content: space-evenly;
        align-items: center;;
    }

    .navbar-nested-list {
        display: none;
        position: absolute;
        text-align: left;
        font-size: 14px;
        padding: 10px;
        border-left: $navbar-hover-border;
        border-top: $navbar-hover-border;
        background-color: #FFFFFF;
        z-index: $navbar-z-index-desktop;
        max-width: 500px;

        &:hover {
            display: block;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes swoop {
        0% {
            transform: translateX(0px);
            opacity: 1;
        }
        100% {
            transform: translateX(40px);
            opacity: 0;
        }
    }

    @keyframes bigSwoop {
        0% {
            transform: translateX(0px);
            opacity: 1;
        }
        100% {
            transform: translateX(80px);
            opacity: 0;
        }
    }

    @keyframes itemHover {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    .nested-nav-item {
        padding-bottom: 6px;

        &:hover {
            animation: itemHover .8s ease-in-out infinite;
        }

        &.swoop {
            animation: swoop .3s ease-in-out;
        }
    }

    .navbar.mobile .nested-nav-item {
        &.swoop {
            animation: bigSwoop .1s ease-in-out;
        }
    }

    .navbar-nav-item {
        font-size: 18px;
        text-align: right;

        &.selected,
        &:hover {
            border-right: $navbar-hover-border;
            border-bottom: $navbar-hover-border;
        }

        &:hover {
            .navbar-nested-list {
                display: block;;
            }
        }
    }

    .navbar-nav-item-link {
        padding-left: 12px;
        white-space: nowrap;
        text-align: right;
        padding-left: 30px;
        padding-right: 16px;
    }

    .navbar-logout {
        padding: 0 20px;
    }

    .navdrawer {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        position: absolute;
        height: calc(100% - 50px);
        width: calc(100% - 20px);
        padding: 0 12px;
        top: 50px;
        left: 0;
        background-color: white;
        z-index: $navbar-z-index-desktop;

        &.closed {
            animation: fadeOut 0.2s ease-in-out forwards;
            display: none;
        }
        &.open {
            animation: fadeIn 0.2s ease-in-out forwards;
            display: flex;
        }
    }

    .navdrawer-button-bar {
        margin-bottom: 10px;
    }

    .navdrawer-nav-item {
        font-size: 24px;
    }

    .navdrawer-nested-list {
        font-size: 20px;
        margin-top: 8px;
        margin-left: 24px;
    }

    .nested-navdrawer-item {
        margin-bottom: 8px;
    }
}