.project-header {
    margin-bottom: 0;

    h1 {
        margin-bottom: 38px;
    }

    h2 {

    }
}

.list {
    margin-top: 12px;

    .list-header {
        text-decoration: underline;
    }
}

.still-interested {
    margin-top: 36px;
    text-align: center;
    font-size: 18px;
}
