.resume-body {
    display: flex;
    justify-content: space-between;

    .column {
        flex-grow: 0;
        flex-shrink: 0;

        &.left {
            flex-basis: 50%;
        }
        &.right {
            flex-basis: 30%;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 12px;

        li {
            margin: 0 0 4px 0;
        }

        .li-detail {
            padding: 4px 0 12px 12px;
            font-size: 14px;
        }
    }
}

.column.left {
    .entry-block {
        margin-bottom: 48px;
        h3 {
            margin: 8px 0;
        }
        h4 {
            margin: 4px 0;
        }
    }

    .experience-entry {
        margin-bottom: 48px;
    }

    .subentry {
        margin-top: 12px;
    }
}

.email {
    text-align: center;
    margin-bottom: 24px;

    @include screen-lg {
        margin-bottom: 0;
    }
}

.patent-entry {
    font-size: 18px;
    margin-bottom: 16px;

    .patent-link {
        font-size: 14px;
    }
}