$screen-sm-max: 576px;

$screen-md-min: 577px;
$screen-md-max: 768px;

$screen-lg-min: 769px;
$screen-lg-max: 992px;

$screen-xl-min: 1200px;

@mixin screen-sm {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin screen-med {
    @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin screen-lg {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
