$white: #FFFFFF;

$base-text-color: #111111;
$link-color: #0000EE;

$z-index-nav: 10;

$header-height: 48px;
$footer-height: 50px;
$mobile-footer-height: 80px;

$inner-padding: 24%;
$main-content-padding: 32px;
