table {
    border-collapse: collapse;

    min-width: 90%;
    @include screen-med {
        min-width: 800px;
    }
}

th,
tr>td {
    text-align: left;
    padding: 4px 10px;
}

th {
    min-width: 100px;
    padding-bottom: 12px;

    &.actions {
        display: flex;
        min-width: 10px;
        width: 10px;
    }

    svg {
        margin-left: 4px;
        vertical-align: middle;
    }
}

tr {
    .actions {
        visibility: hidden;
        pointer-events: none;
    }
    &:hover {
        cursor: pointer;
        background-color: #DDDDDD;

        .actions {
            visibility: visible;
            pointer-events: all;

        }
    }
}

.left-content {
    align-items: left;
    min-height: auto;
}

.whisky-shelf {
    padding: 32px 0;
}

.action-bar {
    padding: 32px;
}

.whisky-form {
    form {
        display: flex;
        flex-direction: column;
    }

    label {
        padding: 8px 0;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    input[type=submit] {
        border-radius: 0;
        padding: 12px;
        width: 70px;
        align-self: center;
        margin-top: 20px;
    }

    .button-container {
        top: 0;
        right: 0;
        position: absolute;
        padding: 14px;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: black solid 1px;
            width: 16px;
            height: 16px;
            cursor: pointer;
            font-size: 18px;
        }

        .button:hover {
            background-color: #000000;
            color: white;
            border-color: white;
        }
    }

    .error-message {
        max-width: 300px;
        margin-top: 12px;
    }
}
