@import "variables.scss";
@import "screens.scss";
@import "helpers.scss";
@import "layout.scss";
@import "forms.scss";
@import "typography.scss";
@import "buttons.scss";
@import "tables.scss";
@import "icon.scss";
@import "image.scss";

@import "animated_ellipsis.scss";
@import "modal.scss";
@import "code.scss";


header {
    padding: 10px 20px;

    @import "header.scss";
}

body {
    &.patent {
        @import "patent.scss";
    }
    &.about {
        @import "pipeline.scss";
    }
    #whisky-container {
        @import "whisky_shelf.scss";
    }
    .project-car {
        @import "project_car.scss";
    }
    &.jasper {
        @import "jasper.scss";
    }
    &.resume {
        @import "resume.scss";
    }
    #lightbox {
        @import "lightbox.scss";
    }
    &.acnh {
        @import "compare_acnh.scss";
    }
    &.printing {
        @import "printing.scss";
    }

    &.salt-level {
        @import "salt_level.scss";
    }
    &.mame {
        @import "mame.scss";
    }
    &.chip8 {
        @import "chip8.scss";
    }
    &.chess {
        @import "chess.scss";
    }
    &.links {
        @import "links.scss";
    }
    &.error-page,
    &.linker {
       .inner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
       }
    }
}
