{% extends 'base.jinja2' %}

{% block page_id %}workbench-index{% endblock %}
{% block body_class %}workbench-index{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Workbench</h1>
        <p>
            My garage is pretty small and I use it for a home office, gym, storage, and a workshop.
        </p>
        <p>
            I wanted a workbench that was both space efficient for storage but also easy to use for
            a variety of types of projects. Most commonly, this space would be for software,
            electronics, and 3d printed projects, but I also wanted the space to accomodate
            woodworking projects, as well as provide a surface for project car work.
        </p>
        <p>
            I took a stab at designing a workbench that incorporated some Husky tool drawers that I
            had been using as my main tool storage. I planned for a tool cabinet to be used opposite
            this tool drawer to provide additional storage space. I also designed it so my
            shop vac could be stored underneath the bench for easy use when working at the bench as
            well as convenient storage. Finally, I designed a pegboard extension that could be mounted
            to the workbench to provide a structure for a freestanding pegbaord.
        </p>

        <p>
            This is what I came up with.
        </p>
        <div class="multi-image-container-outer">
            <div class="multi-image-container">
                <div class="arrow-icon previous"></div>
                {{ macros.captioned_image("workbench/workbench_default.png", "Workbench rendering", lb_group="workbench") }}
                {{ macros.captioned_image("workbench/workbench_front.png", "Workbench rendering, front", lb_group="workbench") }}
                {{ macros.captioned_image("workbench/workbench_back.png", "Workbench rendering, back", lb_group="workbench") }}
                <div class="arrow-icon next"></div>
            </div>
        </div>
        <p>
            The workbench surface measures 77.4" wide, 24" deep, and sits at 32.5" high. There are 23"
            in between the drawer and cabinet, which is just about 1" more than I need to place the
            shop vac.
        </p>
        <p>
            The surface itself is relatively thin for a workbench: 23/32" thick plywood with a 1/8" thick layer
            of hardwood. This is more than sufficient to provide a surface for the majority of my projects
            but will likely be insufficient for things that require more impact or force. The base of the
            workbench itself seemed like the weak structural link (the drawers and cabinet) so I did not
            find it necessary to make the top stronger. Due to space constraints, the inclusion of the drawers,
            cabinet, and shop vac space were one of my top priorities.
        </p>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initMultiImageContainers();
        });
    </script>
{% endblock %}