{% extends 'base.jinja2' %}

{% block page_id %}links{% endblock %}
{% block body_class %}links{% endblock %}

{% block content %}
    <div id="links-table-container"></div>
    <img id="qr-code-img" style="display: none" data-lb="true" src=""></img>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initLinksTable('links-table-container');
        });
    </script>
{% endblock %}
