<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>My Website</title>
    <meta name="description" content="This will be a website">
    <meta name="author" content="Me">

    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <script>
        (function() {
            'use strict';
            window.aseaman = {};
            window.aseaman._js = [];
            window.aseaman.ready = function(callback) {
                window.aseaman._js.push(callback);
            };
        })();
    </script>

    {% block include_js %}{% endblock %}

    <script src="js/bundle.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% include 'header.jinja2' %}
    <div class="main-content">
        <div class="inner">
            <div class="center-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.jinja2' %}
</body>

</html>
