{% import "macros.jinja2" as macros with context %}

<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <title>Andrew Seaman</title>
        <meta name="description" content="Andrew Seaman's personal website">
        <meta name="author" content="Andrew Seaman">

        <link rel="stylesheet" type="text/css" href="{{ ROOT_URL }}css/main.css" />
        <link rel="icon" type="image/ico" href="/img/favicon.ico"/>

        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>

        <script>
            (function() {
                'use strict';
                window.aseaman = {};
                window.aseaman._js = [];
                window.aseaman.ready = function(callback) {
                    window.aseaman._js.push(callback);
                };
            })();
        </script>

        {% block include_js %}{% endblock %}

        <script src="{{ ROOT_URL }}js/bundle.js"></script>
    </head>

    <body id="{% block page_id %}id{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% include 'header.jinja2' %}

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>

        {% include 'footer.jinja2' %}
    </body>

</html>
