<footer>
    <div class="container">
        <div class="social-container">
            <a href="https://www.linkedin.com/in/andrewseaman/" rel="noopener noreferrer" target="_blank">
                <img alt="LinkedIn" class="social-icon" src="/img/linkedin_logo_black_48px.png"/>
            </a>
            <a href="https://github.com/andrewseaman35/" rel="noopener noreferrer" target="_blank">
                <img alt="GitHub" class="social-icon" src="/img/github_logo_64px.png"/>
            </a>
        </div>
        <div class="travis-container">
            <div class="travis-item">
                <div>Develop:</div>
                <img
                    class="travis-icon"
                    src="https://travis-ci.org/andrewseaman35/aseaman.svg?branch=develop"
                    alt="Travis develop status"
                />
            </div>
            <div class="travis-item">
                <div>Master:</div>
                <img
                    class="travis-icon"
                    src="https://travis-ci.org/andrewseaman35/aseaman.svg?branch=master"
                    alt="Travis master status"
                />
            </div>
        </div>
    </div>
</footer>
