<header>
    <div class="container">
        <table class="nav-bar">
            <tr>
                <td id="nav-index"><a href="index.html">Home</a></td>
                <td id="nav-about"><a href="about.html">About</a></td>
                <td id="nav-patent"><a href="patent.html">Patent</a></td>
                <td id="nav-login"><a class="log-in-link">Log In</a></id>
            </tr>
        </table>
    </div>
</header>
{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.header();
        });
    </script>
{% endblock %}
