<header>
    <div class="container">
        <table class="nav-bar">
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            </tr>
        </table>
    </div>
</header>
