{% macro external_link(path, text) -%}
    <a href="{{ path }}" target="_blank" rel="noopener noreferrer">{% if text %}{{ text }}{% else %}{{ path }}{% endif %}</a>
{%- endmacro %}

{% macro link_to(path, text) -%}
    <a href="{{ ROOT_URL }}{{ path }}" title="{{ text }}">{{text}}</a>
{%- endmacro %}

{% macro path(path) -%}
    {{ ROOT_URL }}{{ path }}
{%- endmacro %}

{% macro stl_url(path) -%}
    {{ PUBLIC_BUCKET_URL }}aseaman/models/{{ path }}
{%- endmacro %}

{% macro image_url(path) -%}
    {{ PUBLIC_BUCKET_URL }}aseaman/images/{{ path }}
{%- endmacro %}

{% macro captioned_image(image_path, caption, alt=None, class=None, container_class=None, omit_lb=False, lb_group=None, lb_class=None) -%}
    <div class="img-container{% if container_class is not none %} {{ container_class }}{% endif %}">
        <img
            src="{{ image_url(image_path) }}"
            alt="{% if alt is not none %}{{ alt }}{% else %}{{ caption }}{% endif %}"
            {% if not omit_lb %}
                data-lb="true"
                {% if lb_group is not none %}data-lb-group="{{ lb_group }}"{% endif %}
                {% if lb_class is not none %}data-lb-class="{{ lb_class }}"{% endif %}
            {% endif %}
            {% if class is not none %}class="{{ class }}"{% endif %}
        >
            <div class="img-caption">
                {{ caption }}
            </div>
        </img>
    </div>
{%- endmacro %}

{% macro still_interested(path, text) -%}
    <p class="still-interested">
        <strong>
            Still interested? Go back to the
            <a href="{{ ROOT_URL }}{{ path }}" title="{{ text }}">{{text}}</a>
            and check out how other things work!
        </strong>
    </p>
{%- endmacro %}

{% macro in_progress() -%}
    <h4>This page is still in progress... come back later and there might be more here!</h4>
{%- endmacro %}

{% macro animated_ellipsis(text, class=None) -%}
    <div class="animated-ellipsis {% if class %}{{ class }}{% endif %}">
        {{ text }}<span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span>
    </div>
{%- endmacro %}