{% extends 'base.jinja2' %}

{% block page_id %}patent{% endblock %}
{% block body_class %}patent{% endblock %}

{% block content %}
    <div class="inner">
        <div class="left-content">
            <p>Patent</p>
            <p>
                I have a patent application in the works, but unfortunately, patents take a
                very long time to work their way through the system. I want to know if/when
                the patent is granted as soon as possible, so I've set up an automated Lambda
                function that checks the status once a day and sends me an email.
            </p>
            <p>
                    I don't have a page up yet, but eventually I'll have some information about
                    the little framework I've built that allows me to easily set up these sorts of
                    things. Until then, you can check out the source
                    <a
                        href="https://github.com/andrewseaman35/automations/tree/master/lambda_crons"
                        rel="noopener noreferrer"
                        target="_blank"
                    >here</a>.
                </p>
            <p>
                This little table down here shows the most updated status that I've retrieved.
            </p>
            <div id="patent-state">
                <div id="patent-state-loading">Loading...</div>
                <table id="state-table"></table>
            </div>
            <p>
                If you're interested, you can look at the patent application
                <a
                    href="http://appft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PG01&p=1&u=/netahtml/PTO/srchnum.html&r=1&f=G&l=50&s1=20180033262.PGNR."
                    rel="noopener noreferrer"
                    target="_blank"
                >here</a>.
            </p>
            <a href="index.html">Go back home</a>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.patent();
        });
    </script>
{% endblock %}
