{% extends 'base.jinja2' %}

{% block page_id %}project-car{% endblock %}
{% block body_class %}project-car{% endblock %}

{% block content %}
    <div id="project-car-container" class="inner"></div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initProjectCar('project-car-container');
        });
    </script>
{% endblock %}
