{% extends 'base.jinja2' %}

{% block page_id %}pokedex-index{% endblock %}
{% block body_class %}pokedex{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Pokédex</h1>
        <p>
            Websocket test page :)
        </p>

        <input type="text" id="roomInput" placeholder="Enter room name" />
        <button id="joinRoom">Join Room</button>

        <input type="text" id="messageText" placeholder="Type your message here" />
        <button id="sendMessage">Send Message</button>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            document.getElementById('joinRoom').onclick = () => {
                const roomName = document.getElementById('roomInput').value;
                console.log('Joining room:', roomName);
                // Here you would typically send a request to join the room
                // For now, we just log it
                console.log("Connecting websocket");
                const ws = new WebSocket(
                    'wss://buhsox5cb5.execute-api.us-east-1.amazonaws.com/develop/' + "?room_id=" + roomName
                );
                console.log("dun dun dun");

                ws.onopen = (e) => console.log('opened', e);
                ws.onclose = (e) => console.log('closed', e);

                document.getElementById('sendMessage').onclick = () => {
                    const message = {
                        action: 'MESSAGE',
                        message: document.getElementById('messageText').value,
                        room_id: roomName
                    };
                    console.log('sending message', message);
                    ws.send(JSON.stringify(message));
                }

                ws.onmessage = (e) => console.log(e);
            };

        });
    </script>
{% endblock %}