{% extends 'base.jinja2' %}

{% block page_id %}printing-index{% endblock %}
{% block body_class %}printing{% endblock %}

{% block content %}
    <div class="inner">
        <h1>
            3D Printing
        </h1>
        <p>
            I've been learning how to both 3D model and print. This page has some of the things that I've designed and printed!
        </p>

        <div class="print-projects-container">
            <div class="print-project">
                <div class="multi-image-container">
                    <div class="arrow-icon previous"></div>
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/complete.png', 'Rendering with nested insert', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/no_glencairn.png', 'Rendering without nested insert', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/can_insert_rendering.png', 'Can insert rendering', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/with_glencairn_insert_rendering.png', 'Glencairn insert rendering', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/cross_section.png', 'Cross section rendering', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/can_insert.jpg', 'Can insert', lb_group='cup_holder') }}
                    {{ macros.captioned_image('3d_printing/cup_holder_insert/glencairn_insert.jpg', 'Glencairn insert', lb_group='cup_holder') }}
                    <div class="arrow-icon next"></div>
                </div>
                <div class="print-description">
                    <h4>Couch Cup Holder Nesting Inserts</h4>
                    <p>
                        On the arms of my couch, I have some cup holders whose holes are much too big. I designed
                        and printed a set of nesting inserts that allow me to use the cup holder at two additional
                        sizes.
                    </p>
                    <p>
                        The larger size is fit to a normal soda can and the smaller size is raised and made
                        to fit a whisky tasting glass called a glencairn. The larger insert can be used on its own,
                        and the glencairn size sits nested inside the larger insert.
                    </p>
                    <div class="print-links">
                        <div>
                            <span><b>STL files: </b></span>
                            <a href="{{ macros.stl_url('cup_holder_insert/can_insert.stl') }}">can insert</a>
                            <a href="{{ macros.stl_url('cup_holder_insert/glencairn_insert.stl') }}">glencairn insert</a>
                        </div>
                        <div>
                            <span><b>Thingiverse: </b></span>
                            {{ macros.external_link('https://www.thingiverse.com/thing:4732722', 'thing:4732722') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-project">
                <div class="multi-image-container">
                    <div class="arrow-icon previous"></div>
                    {{ macros.captioned_image('3d_printing/nest_adapter_mount/top_model.png', 'Top of mount rendering', lb_group='nest') }}
                    {{ macros.captioned_image('3d_printing/nest_adapter_mount/back_model.png', 'Bottom of mount rendering', lb_group='nest') }}
                    {{ macros.captioned_image('3d_printing/nest_adapter_mount/top_comparison.jpg', 'Comparison: print on right', lb_group='nest') }}
                    {{ macros.captioned_image('3d_printing/nest_adapter_mount/mount_comparison.jpg', 'Comparison: print on right', lb_group='nest') }}
                    <div class="arrow-icon next"></div>
                </div>
                <div class="print-description">
                    <h4>Nest Cam Power Adapter Wall Plate</h4>
                    <p>
                        I recently installed some Nest Cams at my place. The cameras have a power adapter that can be mounted
                        to the wall via an included wall plate. When it came to mounting the final camera, it turned out that I
                        must have thrown away one of the wall plates. Since I had another one to model after, I decided to
                        model and print one as a replacement.
                    </p>
                    <div class="print-links">
                        <div>
                            <span><b>STL files: </b></span>
                            <a href="{{ macros.stl_url('nest_mount/nest_ac_adapter_wall_plate_v3.stl') }}">wall plate</a>
                        </div>
                        <div>
                            <span><b>Thingiverse: </b></span>
                            {{ macros.external_link('https://www.thingiverse.com/thing:4604305', 'thing:4604305') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-project">
                <div class="multi-image-container">
                    <div class="arrow-icon previous"></div>
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/v2_front.png', 'Front of mount rendering', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/v2_back.png', 'Back of mount rendering', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/original.jpg', 'Initial print (no lock)', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/lamp_mounting.jpg', 'Lamp mounting', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/lock_v1.jpg', 'Added lock v1', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/lock_v2.jpg', 'Added lock v2', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/lock_v2_back.jpg', 'Lock v2, back', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/lock_compare.jpg', 'Comparing v1 and v2 locks', lb_group='ivar') }}
                    {{ macros.captioned_image('3d_printing/ivar_light_mount/mount_in_action.jpg', 'Mount in action!', lb_group='ivar') }}
                    <div class="arrow-icon next"></div>
                </div>
                <div class="print-description">
                    <h4>IVAR Lamp Mount</h4>
                    <p>
                        My 3D printer is placed right next to an
                        {{ macros.external_link('https://www.ikea.com/us/en/p/ivar-shelf-unit-pine-s69251345/', 'IKEA IVAR shelf') }}.
                        I made a mount so I could attach a lamp to the shelf and be able to easily move it around.
                    </p>
                    <p>
                        The initial design consisted of a hook that went over one of the crossbars of the IVAR with
                        a foot that attached to the lamp. This mount worked decently well -- the attachment worked as I
                        had planned and the hook worked as a hook normally does. The issue was that mount woukd get unhooked
                        if the neck of the lamp was moved around.
                    </p>
                    <p>
                        To solve this, I added a second locking piece that hooks under the crossbar and locks over the top of the mount.
                        The first iteration had too much tolerance and was too malleable to lock tightly.
                        The second iteration reduced the tolerances, made it lock thicker, and also added a nub to
                        lock the bottom of the mount.
                    </p>
                </div>
            </div>
            <div class="print-project">
                <div class="multi-image-container">
                    <div class="arrow-icon previous"></div>
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/top.png', 'Sensor housing rendering', lb_group='salt_sensor') }}
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/bottom.png', 'Inside view of sensor housing rendering', lb_group='salt_sensor') }}
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/interior.png', 'Interior of housing', lb_group='salt_sensor') }}
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/empty_bottom.png', 'Rendering of sensor seated in housing', lb_group='salt_sensor') }}
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/top.jpg', 'Printed sensor housing', lb_group='salt_sensor') }}
                    {{ macros.captioned_image('3d_printing/salt_sensor/v2/bottom.jpg', 'Bottom of printed sensor housing', lb_group='salt_sensor') }}
                    <div class="arrow-icon next"></div>
                </div>
                <div class="print-description">
                    <h4>Salt Level Tracker, Sensor Housing</h4>
                    <p>
                        This is the sensor housing for my
                        {{ macros.link_to('salt_level/index.html', 'Water Softener Salt Tracker project') }}. This housing is meant
                        to house an HC-SR04 Ultrasonic Distance Sensor. It has two holes for the "eyes" of the sensor and a small port
                        for the cable that connects it to the main housing. The "lid" slides in on a dovetail and has two little nubs that
                        lock it in place. The fins on the side are for mounting.
                    </p>
                    <p>
                        Read more about the sensor housing {{ macros.link_to('salt_level/sensor_housing.html', 'here') }}!
                    </p>
                    <div class="print-links">
                        <div>
                            <span><b>STL files: </b></span>
                            <a href="{{ macros.stl_url('salt_level/sensor_housing/sensor_housing_base.stl') }}">base</a>
                            <a href="{{ macros.stl_url('salt_level/sensor_housing/sensor_housing_lid.stl') }}">lid</a>
                        </div>
                        <div>
                            <span><b>Thingiverse: </b></span>
                            {{ macros.external_link('https://www.thingiverse.com/thing:4623279', 'thing:4623279') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-project">
                <div class="multi-image-container">
                    <div class="arrow-icon previous"></div>
                    {{ macros.captioned_image('3d_printing/salt_main/outer_top.png', 'Main housing for salt level sensor, top', lb_group='salt_main') }}
                    {{ macros.captioned_image('3d_printing/salt_main/outer_bottom.png', 'Main housing for salt level sensor, bottom', lb_group='salt_main') }}
                    {{ macros.captioned_image('3d_printing/salt_main/inner_top.png', 'Inside of main housing for salt level sensor, top', lb_group='salt_main') }}
                    {{ macros.captioned_image('3d_printing/salt_main/inner_bottom.png', 'Inside of main housing for salt level sensor, bottom', lb_group='salt_main') }}
                    {{ macros.captioned_image('3d_printing/salt_main/printed_outer_top.jpg', 'Printed housing, top', lb_group='salt_main') }}
                    {{ macros.captioned_image('3d_printing/salt_main/printed_outer_bottom.jpg', 'Printed housing, bottom', lb_group='salt_main') }}
                    <div class="arrow-icon next"></div>
                </div>
                <div class="print-description">
                    <h4>Salt Level Tracker, Main Housing</h4>
                    <p>
                        This is the main housing for my
                        {{ macros.link_to('salt_level/index.html', 'Water Softener Salt Tracker project') }}. This housing is meant
                        to protect an Arduino MKR WiFi 1010 with a small perfboard attached. It has some channels for some LEDs, a
                        port for a micro-USB, some channels for the wires to connect the sensors, and two fins to mount the housing.
                    </p>
                    <p>
                        Read more about the main housing {{ macros.link_to('salt_level/main_housing.html', 'here') }}!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initMultiImageContainers();
        });
    </script>
{% endblock %}
