{% extends 'base.jinja2' %}

{% block page_id %}four-oh-four{% endblock %}
{% block body_class %}four-oh-four{% endblock %}

{% block content %}
    <div class="inner strong">
        404
    </div>
{% endblock %}
