{% extends 'base.jinja2' %}

{% block page_id %}chip8{% endblock %}
{% block body_class %}chip8{% endblock %}

{% block content %}
    <div class="inner">
        <h1>CHIP-8 Emulator</h1>
        <p>
            This is a CHIP-8 emulator I wrote in JavaScript. I originally wrote one in
            C++ to get introduced to emulators and I figured I might as well do it again
            in JavaScript so I can put it here.
        </p>
        <p>
            You can see the C++ source code {{ macros.external_link('https://github.com/andrewseaman35/chip8', 'here') }}.
            Admittedly, I did the minimum to get it working in C++ and will probably only iterate
            on this JavaScript version.
        </p>
        <div>
            <p>Theme</p>
            <label for="backgrounds">Background</label>
            <select name="backgrounds" id="background-select"></select>
            <label for="foregrounds">Foreground</label>
            <select name="foregrounds" id="foreground-select"></select>
        </div>
        <div>
            <label for="roms">Select a ROM</label>
            <select name="roms" id="rom-select"></select>
            <div id="chip8-description"></div>
        </div>
        <div id="chip8-container">
            <canvas
                id="chip8-display"
                width="1024"
                height="512"
                style="background-color: cyan"
            >
            </canvas>
            <div id="button-container">
                <button disabled id="pause-play-btn">Pause</button>
                <button disabled id="reset-btn">Reset</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        window.aseaman.ready(function(exports) {
            exports.initChip8('chip8-container');
        });
    </script>
{% endblock %}
