{% extends 'base.jinja2' %}

{% block page_id %}index{% endblock %}
{% block body_class %}index{% endblock %}

{% block content %}
    <div class="inner">
        <div class="left-content">
            <h1>
                I'm Andrew!
            </h1>
            <h3>
                I'm a full-stack software engineer currently working at 23andMe.
            </h3>
            <p>
                This website is an ongoing project on mine that I'm using as a
                way to mess around, learn new things, and put things that I
                think are fun.
            </p>
        </div>
    </div>
{% endblock %}

