footer {
    position: fixed;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 5px;
}

.travis-container {
    display: flex;
    flex-direction: row-reverse;
}

.travis-item {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-weight: 600;
}

.travis-item > div {
    margin-right: 10px;
}

.social-icon {
    height: 24px;
    padding: 0 5px;
}
